.related {
  display: grid;
  grid-gap: 5px;
  align-items: center;
}

.item {
  border: 1px solid black;
  padding: 5px 5px;
  width: 17em;
  height: 8em;
}

.item_1 {
  grid-area: 1 / 1;
}

.item_2 {
  grid-area: 1 / 2;
}

.item_3 {
  grid-area: 1 / 3;
}

.item_4 {
  grid-area: 1 / 4;
}

.no_deceration {
  text-decoration: none;
  color: black;
}

.related-image {
  align-items: center;
  justify-content: center;
}