.coin_profile {
  display: grid;
  grid-gap: 10px;
}

.profile {
  grid-area: 1 / 1;
  padding: 7.5px;
  border: 2.5px solid black;
  display: grid
}

.secondary_part {
  grid-area: 1 / 2;
  padding: 7.5px;
  border: 2.5px solid black;
}

.obverse {
  grid-area: 1 / 1;
}

.reverse {
  grid-area: 1 / 2;
}

.no_margin {
  margin: 0px;
}